<%- include("layouts/header.ejs") %>
<div class="admin-dashboard block-users">
  <% if(users && users.length) { %>
  <table class="table table-striped">
    <legend>Block Users</legend>
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">Display Name</th>
        <th scope="col">Email</th>
        <th scope="col">Joined On</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user,index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user.displayName %></td>
        <td><%= user.email %></td>
        <td><%= user.createdAt %></td>
        <td>
          <% if(user.isBlocked) { %>
          <span>Blocked</span>
          <% } else { %>
          <span>Active</span>
          <% } %>
        </td>
        <td>
          <% if(!user.isBlocked) { %>
          <a
            class="btn-action btn-disapprove"
            href="/admins/users/block/<%= user._id %>"
            >Block</a
          >
          <% } else { %>
          <a
            class="btn-action btn-approve"
            href="/admins/users/unblock/<%= user._id %>"
            >Unblock</a
          >
          <% } %>
        </td>
      </tr>
      <% } ) %>
    </tbody>
  </table>
  <% } else { %>
  <p>No Users to Block</p>
  <% } %>
</div>

<%- include("layouts/footer.ejs") %>
